<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>


<script>
    
    function confirmDelete(id) {
       
        let confirm = prompt("Type yes if you want to delete the post. This cannot be restored")
        if (confirm === 'yes') {
        let postId = document.getElementById('id').value
            var xml = new XMLHttpRequest()
            xml.open("POST", '/delete', true)
            xml.setRequestHeader('content-type', 'application/x-www-form-urlencoded')
            xml.send(`requested=${confirm}&postId=${postId}`)
            location.replace('/deleted/')
        } 
        } 
        
    
</script>

<body>
    <h2>Edit your post here: </h2>
    <form action="/dashboard" method="POST">
        <table>
            <tr>
            <td class ="post">
                <input type="hidden" id="id" name="postId" value="<%= id %>">
                <textarea id="text" name="text" rows="20" cols="60" required><%- text %></textarea>
                <input class="right" type="submit" value="Update">
                <button onclick="confirmDelete()">Delete</button>
        
            </form>
            </td>
            
        </tr>
            <% if (comment) {%>
                <tr>
            <td class ="comment">
                <p><b>Your tutor wrote: </b></p>
                <%= comment %>
                <%}%>
            </td>
        </tr>
    </table>
    <form action='/dashboard' method="GET">
        <input type="submit"  value="Cancel">
        <input type="hidden" name="postId" value="<%= id %>">
        </form>
   
    
    
</body>



</html>