<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>



<body>
    <form action="/dashboard" method="POST">
        <div>
            <input type="hidden" name="postId" value="<%= id %>">
            <textarea id="text" name="text" rows="8" cols="50" required><%- text %></textarea>
        </div>
        <div>

        </div>
        <div>
            <input type="submit" value="Post">
        </div>
    </form>
   
</body>

</html>