<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>

<body>
    
    <ul>
        <% if(messages.success_msg) { %>
            <li>
                <%= messages.success_msg %>
            </li>
            <% } %>
    </ul>

    <ul>
        <% if(messages.error){ %>
            <li>
                <%= messages.error %>
            </li>
            <% } %>
    </ul>
<div id="login">
    <h1>login</h1>
    <form action="/login" method="POST">
        <div>
            <input type="prisonNumber" id="prisonNumber" name="prisonNumber" placeholder="prison number" required>
        </div>
        <div>
            <input type="password" id="password" name="password" placeholder="password" required>
        </div>
        <div>
            <input type="submit" value="Click">
        </div>
        <div>
            <p>Don't have an account? <a href="/register">Register</a></p>
    
            <div>
    </form>
</div>

    
</body>

</html>