<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>

<body>

    <div class="targets-table">
        <div id="sidebar">
            <a href="/dashboard">Back to dashboard</a>
            <br/>
            <h1>My project reviews
            </h1>
            
            <br/>
            <a href="/targets">Tech skills</a>
            <br/>
            <a href="/softskills">Soft skills</a>
            <br/>
            <p><i>Please do your best to update your reflections every Friday and refresh your tech and soft skills records monthly</i></p>
        </div>
    <br/>


    <table>
    <% if (!reviews[0]) { %>
        <p><i>No reviews yet</i></p>
    <% } else { %> 
    <% for (var i = 0; i < reviews.length; i++) { %>
        <tr>
        <td class="review">
       <b><%= reviews[i].title %></b>
        
        <i class="right"><%= reviews[i].date %></i>
    </td>
</tr>
<tr>
        <td class="comment">
        <p class="break">
       <%= reviews[i].review %></p>
    </td>
</tr>
  <% } %>
  <%}%>
</table>
</div>
</body>

</html>